# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.git.kdev4

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/
**/obj/
.kdev4/vds.git.kdev4
clients/windows/Debug
clients/windows/ipch
clients/windows/x64
clients/windows/vds_client/Debug
clients/windows/vds_client/x64
clients/windows/.vs
clients/windows/win_clients.VC.db
*.userprefs
*.filters
.vs/
externals/build_zlib/
externals/zlib/
externals/openssl-out/
externals/build_gtest/
externals/googletest/
externals/zlib_out/
externals/gtest_out/
externals/llvm/
*.user
obj/
bin/
*.tmp
x64/
*.aps
servers/
*.VC.db
Debug/
ipch/
keys
externals/android/
externals/android64/
externals/Build-VC-64-debug/
externals/build_gtest/
externals/build_zlib/
externals/googletest/
externals/openssl/
externals/zlib/
externals/zlib_out/
externals/build_openssl/
